.card-form {
  margin-bottom: 0 !important;
}

.btn-danger {
  margin-left: 10px;
}

.nueva {
  margin-top: 20px;
}

.fa-angle-down {
  margin-left: 10px;
}

.logo {
  max-width: 150px;
  margin-top: 20px;
}
